:root {
  --card-height: 100px;
  --hide-color: aqua;
  --show-color-text: black;
}

body {
  margin: 0;
}

.card {
  width: calc(var(--card-height) * 0.75);
  height: var(--card-height);
}

.hide {
  /* background-color: var(--hide-color); */
  /* color: var(--hide-color); */
}

.show {
  /* color: var(--show-color-text); */
}

#cards-container {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.thanks {
  position: absolute;
  bottom: 0;
  right: 30px;
  color: rgba(128, 128, 128, 0.432);
}