.card {
  width: 100px;
  height: 100px;
  background-color: aqua;
}

#cards-container {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(4, 1fr);
}